h1 {
    color: cyan;
    background-color: black;
    font-family: cursive;
}

h2 {
    text-align: center;
    color: white;
    background-color: blueviolet;
    font-family: cursive;
    font-style: italic;
}

h3 {
    text-align: right;
    color: darkblue;
    background-color: lightskyblue;
    text-decoration: underline;
    font-family: cursive;
}

.my {
    color: white;
}